/** 
overflow-y: scroll;
@description: Permite que el contenedor se desplace verticalmente
overflow-x: hidden;
@description: Evita que el contenedor se desplace horizontalmente

vh: 1vh = 1% del Altura de pantala
vw: 1vw = 1% del Ancho de pantala
*/


.productsgrid-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* 4 columnas iguales */
    gap: 1vw;                                /* Espacio entre cards */
    width: 130%;
    height: 80%;                           
    border: 2px solid #024d82;
    border-radius: 1vh;
    overflow-y: scroll;                    
    overflow-x: hidden;                     
    padding: 2vh;                            
    background-image: url('../../assets/grid-background.png');
    background-size: cover;
}