.productcard-wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/card-background.png');
    background-size: 100%;        
    background-position: center;    
    background-repeat: no-repeat;
    justify-content: space-between;
}




.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
    width: 90%;
    margin-bottom: 10%;
    height: 15%;
    
}

.category-icon {
    width: 20%;
    height: 50%;
    aspect-ratio: 1;
}

.card-image {
    width: 80%;
    height: 25%;
    margin-bottom: 10%;
}


.card-detail {
    height: 7%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}

.detail-icon {
    height: 100%;
    margin-right: 10%;
}


.card-price {
    height: 10%;
    padding-top: 5%;
    padding-bottom: 15%;
}


p {
    font-size: larger;
}