.products-wrapper {
    width: 64%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-items: start;
    justify-content: start;
    align-items: start;
}
.auth-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;


  }
  
  .create-account-btn,.view-mode-btn {
    width: auto;
    background-color: #fbf1e0;
    color: #024d82;
    border: 2px solid #024d82;
    border-radius: 4px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  .logout-btn {
   width: auto;
    background-color: #fbf1e0;
    color: #024d82;
    border: 2px solid #024d82;
    border-radius: 4px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
  }

  .logout-btn:hover {
    background-color: #e60000;
  }
  
  .create-account-btn:hover, .view-mode-btn:hover {
    background-color: #b78048;
  }

  .view-mode-btn img {
    width: 25px;
  }

  .home-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -45px;
    justify-content: start;
    justify-items: start;
  }

  .button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 40%;
  }


  .filter-and-table {
    display: flex;
    flex-direction: row;
    align-items: start;
  }

  .products-wrapper {
    display: flex;
    flex-direction: row;
    
  }

 .dashboard-wrapper {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
 }