.search-container {
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background-color: #fbf1e0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
  border: 2px solid #024d82;
  padding: 5px;
  height: fit-content;
  padding-bottom: 50px;
  padding-top: 50px;
  
}

.search-logo {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.search-logo img {
  height: 60px;
  width: auto;
}

.search-field {
  width: 95%;
  display: flex;
  margin-bottom: 15px;
}

.search-field input {
  flex: 1;
  padding: 10px 15px;
  border: 2px solid #0b5a8e;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
  background-color: #fbf1e0;
  color: #0b5a8e;
  width: 70%;
}

.search-field input:focus {
  outline: none;
  border-color: #0b5a8e;
}

.search-button {
  padding: 10px 20px;
  background-color: #fbf1e0;
  color: #024d82;
  border: 2px solid #024d82;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
  width: 10%;
  justify-content: center;
  justify-items: center;
  display: flex;
}

.search-button:hover {
  background-color: #b78048;
}

.search-button img {
  width: 20px;
  height: 100%;
}

.search-filters {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;  
  align-items: center;
}

.filter-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.filter-group label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #0b5a8e;
  font-weight: 500;
}

.filter-group select {
  padding: 8px 10px;
  border: 2px solid #0b5a8e;
  border-radius: 4px;
  background-color: #fbf1e0;
  font-size: 14px;
  color: #0b5a8e;
  width: 100%;

}

.filter-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.filter-group select:focus {
  outline: none;
  border-color: #0b5a8e;

}

@media (max-width: 768px) {
  .search-filters {
    grid-template-columns: 1fr;
  }
}