.navbar-wrapper {
    height: 10%;
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;  
    justify-content: center;
    margin-bottom: 1%;

}

.userpanel {
    background-color: #733e1e;
    height: 100%;
    width: 70%;
    margin-left: 1%;

}

.logo {
    width: 8%;
    height: 100%;
}