.navbar-wrapper {
  height: 5%;
  width: 20%;
  flex-direction: column;
  display: flex;
  align-items: center;  
  justify-content: center;
}

.logo {
  width: 50%;
  height: 50%;
  position: relative; 
}