.productsgrid-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* 4 columnas iguales */
    grid-template-rows: repeat(2, 1fr);     /* 2 filas iguales */
    gap: 1%;                                /* Espacio entre cards */
    width: 80%;
    aspect-ratio: 1;   
    margin-left: 5%;
    border: 2px solid black;
    border-radius: 1%;
    height: 100%;
    overflow: hidden;
}



