.productsgrid-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* 4 columnas iguales */
    grid-template-rows: repeat(2, 1fr);     /* 2 filas iguales */
    gap: 1%;                                /* Espacio entre cards */
    width: 80%;
    aspect-ratio: 1;   
    border: 2px solid #024d82;
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
    background-image: url('../../assets/grid-background.png');
    padding: 3%;

}



