#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  font-size: 0.8rem;
}

html, body {
  margin: 0;
  padding: 0;
}

.page-wrapper {
  flex-direction: column;
  display: flex;
  width: 80%;
  height: 100vh;
  justify-content: start;
  align-items: center;
  
}

.products-wrapper {
  flex-direction: row;
  margin-top: 10px;
  display: flex;
  width: 80%;
  height: 80%;
  justify-content: center;
  align-items: center;
}




